@media screen and (max-width: 950px) {
 .hero-wrapper {
    flex-direction: column;
 }   
 .hero-section-text {
    margin: 0px;
 }
 .button-container {
    margin-top: 28px;
}
}

@media screen and (max-width: 600px) {
    .flower-icon {
        display: none;
    }
   
}   
